@charset "UTF-8";

// 1. Abstracts
@import 'abstracts/variables';

// 2. Vendors

// 3. Base
@import 'base/base';
@import 'base/typography';

// 4. Layout
@import 'layout/navigation';
@import 'layout/footer';

// 5. Components
@import 'components/buttons';

// 6. Pages
@import 'pages/home';
@import 'pages/arzopa-aqua';
@import 'pages/minimalist';
@import 'pages/tropical';
@import 'pages/luxury';
@import 'pages/family';

// 7. Themes
