// Estilos para la plantilla Family

.template-family {
    font-family: 'Nunito', sans-serif;

    .fw-bolder {
        font-weight: 800 !important;
    }

    .rounded-5 {
        border-radius: 2rem;
    }

    .btn-primary {
        background-color: #0d6efd;
    }

    .btn-warning {
        color: #000;
    }
}
