/* Estilos para la plantilla Nature */
.template-nature {
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Lora', serif;
}

.template-nature h1, .template-nature h2 {
  color: #285430;
}

.template-nature .lead {
  color: #555;
}

.template-nature .nav-link {
  color: #333;
}

.template-nature .nav-link:hover {
  color: #285430;
}

.template-nature .btn-dark {
    background-color: #285430;
    color: #fff;
    border: none;
}

.template-nature .img-fluid {
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
